<!-- Details Component -->
<div class="row item-details">
    <h3>17L Box and Lid And 17L Box and Lid</h3>
    <div class="col-sm-6 col-xs-6 text-left">CODE 1</div>
    <div class="col-sm-6 col-xs-6 text-right">CODE 2</div>
</div>
<div class="row item-details-breakup">
    <div class="data-container-left pull-left">
        <h4 class="available">
            <span class="item-availability"></span> 24 on order
        </h4>
        <div class="col-sm-6 col-xs-6 data-row-odd column1">Shop floor</div>
        <div class="col-sm-6 col-xs-6 data-row-odd">6</div>
        <div class="col-sm-6 col-xs-6 data-row-even column1">Display</div>
        <div class="col-sm-6 col-xs-6 data-row-even">1</div>
        <div class="col-sm-6 col-xs-6 data-row-odd column1">Customner</div>
        <div class="col-sm-6 col-xs-6 data-row-odd">2</div>
        <div class="col-sm-6 col-xs-6 data-row-even column1">Overs</div>
        <div class="col-sm-6 col-xs-6 data-row-even">3</div>
        <div class="col-sm-6 col-xs-6 data-row-odd column1">Blocked</div>
        <div class="col-sm-6 col-xs-6 data-row-odd">0</div>
    </div>
    <div class="data-container-right pull-right">

        <h4 class="low">
            <span class="item-availability"></span> Only 4 on order
        </h4>
        <div class="col-sm-6 col-xs-6 data-row-odd column1">In Transit</div>
        <div class="col-sm-6 col-xs-6 data-row-odd">18</div>
        <div class="col-sm-6 col-xs-6 data-row-even column1">In Transfer</div>
        <div class="col-sm-6 col-xs-6 data-row-even">0</div>
        <div class="col-sm-6 col-xs-6 data-row-odd column1">Ordered</div>
        <div class="col-sm-6 col-xs-6 data-row-odd">2</div>
        <div class="col-sm-6 col-xs-6 data-row-even column1">Requested</div>
        <div class="col-sm-6 col-xs-6 data-row-even">2</div>
        <div class="col-sm-6 col-xs-6 data-row-odd column1">Last GR</div>
        <div class="col-sm-6 col-xs-6 data-row-odd">11.02.2018</div>
    </div>
</div>