<!-- Details Component -->
<div class="row item-details">
    <h3>{{ article.ItemDescription }}</h3>
    <div class="col-sm-6 col-xs-6 text-left">SKU: {{ article.ItemCode }}</div>
    <div class="col-sm-6 col-xs-6 text-right">EAN: {{ article.Barcode }}</div>
</div>
<div class="row item-details-breakup">
    <div class="data-container-left pull-left">
        <h4 [ngClass]="stockDisplay">
            <span class="item-availability"></span> {{stockQuantity}}
        </h4>
        <div class="col-sm-6 col-xs-6 data-row-odd column1"><strong>Shop floor</strong></div>
        <div class="col-sm-6 col-xs-6 data-row-odd">{{ article.ShopFloorStock }}</div>
        <div class="col-sm-6 col-xs-6 data-row-even column1"><strong>Display</strong></div>
        <div class="col-sm-6 col-xs-6 data-row-even">{{ article.DisplayStock }}</div>
        <div class="col-sm-6 col-xs-6 data-row-odd column1"><strong>Customner</strong></div>
        <div class="col-sm-6 col-xs-6 data-row-odd">{{ article.CustomerStock }}</div>
        <div class="col-sm-6 col-xs-6 data-row-even column1"><strong>Overs</strong></div>
        <div class="col-sm-6 col-xs-6 data-row-even">{{ article.StockInOvers }}</div>
        <div class="col-sm-6 col-xs-6 data-row-odd column1"><strong>&nbsp;</strong></div>
        <div class="col-sm-6 col-xs-6 data-row-odd">&nbsp;</div>
    </div>
    <div class="data-container-right pull-right">

        <h4 [ngClass]="orderDisplay">
            <span class="item-availability"></span> {{orderQuantity}}
        </h4>
        <div class="col-sm-6 col-xs-6 data-row-odd column1"><strong>In Transit</strong></div>
        <div class="col-sm-6 col-xs-6 data-row-odd">{{ article.StockInTransit }}</div>
        <div class="col-sm-6 col-xs-6 data-row-even column1"><strong>In Transfer</strong></div>
        <div class="col-sm-6 col-xs-6 data-row-even">{{ article.StockInTransfer }}</div>
        <div class="col-sm-6 col-xs-6 data-row-odd column1"><strong>Ordered</strong></div>
        <div class="col-sm-6 col-xs-6 data-row-odd">{{ article.OrderedStock }}</div>
        <div class="col-sm-6 col-xs-6 data-row-even column1"><strong>Requested</strong></div>
        <div class="col-sm-6 col-xs-6 data-row-even">{{ article.RequestedStock }}</div>
        <div class="col-sm-6 col-xs-6 data-row-odd column1"><strong>Last GR</strong></div>
        <div class="col-sm-6 col-xs-6 data-row-odd">{{ article.StockLastReceivedOn }}</div>
    </div>
</div>
<div class="row item-details-breakup row2">
    <div class="data-container-left pb-5 pull-left location">
        <h6>
            Locations:
        </h6>
        <div>
            <div class="col-sm-12 col-xs-12 data-row" *ngFor="let location of locations; let i = index">
                <a href="#" (click)="onLocationRecordClicked(i)">{{ location.LocationCode }}
                    <span class="glyphicon glyphicon-info-sign pull-right"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="data-container-right pb-5 pull-right">
        <h6 class="mb-0">
            Status:
        </h6>
        <div class="col-sm-12 col-xs-12 data-row-even" [ngClass]="statusDisplay">{{status}}</div>
        <div class="col-sm-12 col-xs-12 data-row-even price-perunit">{{price}}</div>
    </div>

</div>
<app-modal #location>
    <app-location [location]="locationData" (closeLocation)="closeLocation()"></app-location>
</app-modal>