<section class="container-fluid">
  <h4>Homebase Item Checker</h4>
  <h5>Welcome to the Homebase Item Checker web app allowing to you to check product details, stock availability and price within
    your local store.</h5>
  <h5>Please prove your are a human operator to prevent misuse of the item checker: </h5>
  <div class="text-center">
    <re-captcha (resolved)="resolved($event)" siteKey="6LdyR0cUAAAAAKlL84D-PvF7BJfpfhbewOerzN9D"></re-captcha>
  </div>
  <h5>By clicking Accept you agree to our Terms and confirm that you have read our Privacy Policy, including our Cookie Use Policy.
    </h5>
  <div class="text-center">
    <input type="button" id="cmdAccept" class="button button--secondary button-agree" size="8" value="Agree" (click)="clickUpdate()">
  </div>
</section>