<section class="container-fluid">
  <h4>Homebase Item Checker</h4>
  <h5>Welcome to the Homebase Item Checker web app allowing Homebase team members to view product details, stock availability and price within
    your local store</h5>
  <div class="col-sm-12 col-xs-12 employee-id">
    <form novalidate [formGroup]="uiForm">
        <div class="col-sm-12 col-xs-12 employee-id">
          <input #employeeId type="text" placeholder="Enter your Employee ID" formControlName="employeeId" maxlength="12"
            (change)="activateButton()">
        </div>
      <div class="clearfix"></div>
      <div class="alert alert-danger" *ngIf="error">
        <span class="glyphicon glyphicon-warning-sign"></span>{{errorMessage}}</div>
    </form>
  </div>
  <h5>By clicking Continue you agree to our <a href="#">Terms</a> and confirm that you have read our <a href="#">Privacy Policy</a>.
  </h5>
  <div class="text-center">
    <input type="button" id="cmdAccept" class="button button--secondary button-agree" size="8" [disabled]="!isUserIDEntered" value="Continue"
      (click)="clickUpdate()">
  </div>
</section>
<app-spinner [isRunning]="isRequesting"></app-spinner>